<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <table>
            <tr>
                <td><span>Alue: </span><span th:text="${aihealue}"></span></td>
                <td>Viestejä:</td>
                <td>Viimeisin viesti:</td>
            </tr>
            <tr th:each="avaus : ${avaukset}">
                <td th:text="${avaus.otsikko}">Esimerkki</td>
                <td th:text="${avaus.viesteja}">0</td>
                <td th:text="${avaus.uusinviesti}">0</td>
            </tr>
        </table>

    </body>
</html>