<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
        <style type="text/css">
            body{
                background-color: #C1EAFF;
            }

        </style>
    </head>

    <body>
        <h3></h3>
        <table>

            <tr>
                <td>Alue:</td>
                <td>Viestejä yhteensä:</td>
                <td>Viimeisin viesti:</td>
            </tr>
            <tr th:each="alue : ${alueet}">
                <td>
                    <a th:href="@{https://ancient-citadel-32552.herokuapp.com/__${alue.id}__}">
                        <span th:text="${alue.nimi}">Esimerkki</span>
                    </a>
                </td>
                <td th:text="${alue.viesteja}">0</td>
                <td th:text="${alue.uusinviesti}">0</td>
            </tr>
        </table>

        <br/>

        <form method="POST" action="/">
            Alueen nimi:<br/>
            <input type="text" name="nimi"/>
            <input type="submit"/>
        </form>

        <h6></h6>

    </body>
</html>